@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

body {
font-family: 'Roboto', sans-serif;
}
.text .text_1{

margin-top:250px;

 text-align: center;
 font-size:30px;
  
}



.img img {

  
}